@import '../../../style/helpers/_variables';
// @import '../../../style/helpers/_mixins';
// @import '../../../style/helpers/_placeholders';
// @import '../../../style/components/input-blocks.scss';

/*******TIME PICKER*******/

.rdev-block .time-picker {
    $text: $white;

    height: 1.3em !important;
    color: $text !important;
    font-size: 3rem !important;

    > div:first-child {
        font-size: 1.5rem !important;
        bottom: 25% !important;
        color: rgba($text, 0.5) !important;
    }

    > input[type="text"] {
        color: $text !important;

    }

    hr {
        border-bottom: 1px solid $text !important;
    }
}


/*******TIME PICKER DIALOG*******/

.dialog > div > div > div > div > div > div:first-child {
  background-color: material-color('orange', '700') !important;
}
