@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
@import '../../../style/helpers/_placeholders';
@import '../../../style/components/input-blocks.scss';
/*******Input Blocks*******/
.rdev-block:not(:nth-child(3)) {
    background-color: material-color('orange', '500');
}

.rdev-block.selected {
    background-color: material-color('orange','400');
}


/*******TIME PICKER*******/

.rdev-block .time-picker {
    height: 1.3em !important;
    color: $matteblack !important;
    font-size: 3rem !important;

    > div:first-child {
        font-size: 1.5rem !important;
        bottom: 25% !important;
    }

    > input {
        color: $matteblack !important;

    }

    hr {
        border-bottom: 1px solid material-color('yellow', 'a200') !important;
    }
}


/*******TIME PICKER DIALOG*******/

.dialog > div > div > div > div > div > div:first-child {
  background-color: material-color('orange', '700') !important;
}
