@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_textures';

.content-box {
  @include super-center($top: 80%);
  @include box-shadow(1);
  width: 90%;
  max-width: 40em;
  height: auto;
  margin: 0 auto;
  background-color: $black;
  transition: background-color $app-speed-slow $easeOut;
  @media (max-width: 380px) {
    top: 80%;
  }
  @media (min-width: 767px) {
    top: 95%;
  }
  > h5 {
    font-size: $medium;
    color: $_100;
    padding: 1em 1em 1em 0.7em;
    width: 100%;
    margin: 0;
    transition: background-color $app-speed-slow $easeOut;
  }
  > p {
    font-size: $small;
    color: $_100;
    line-height: 1.6;
    padding: 1em;
    margin: 0;
  }
}
