@import '../helpers/_variables';
@import '../helpers/_mixins';

.footer-container {
  position: relative;
  height: $footer-height;
  width: 100%;
  background-color: $black;
  @media (min-width: 767px) {
    position: fixed;
    bottom: 0;
  }

  .version {
    @include super-center($left: 3em, $x: 0%);
    margin: 0;
    text-transform: lowercase;
    font-weight: 100;
    top: 50%;
    color: rgba($white, 0.5);
    font-size: 1em;
  }


  /* MODIFIERS */

  &.inside {
    display: block;
    @media (min-width: 767px) {
      display: none
    }
  }
  &.outside.app-open {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}
