@import '../helpers/_variables';
@import '../helpers/_mixins';

.footer-container {
  position: relative;
  height: $footer-height;
  width: 100%;
  background-color: $white;
  @media (min-width: 767px) {
    position: fixed;
    bottom: 0;
  }

  > .title,
  > .version {
    display: inline-block;
    line-height: $footer-height;
    margin: 0;
    margin-left: 0.5em;
    color: rgba($black, 0.75);
  }

  > .title {
    position: static;
    transform: none;
    font-size: 1.2em;
  }

  > .version {
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1em;
  }


  /* MODIFIERS */

  &.inside {
    display: block;
    @media (min-width: 767px) {
      display: none
    }
  }
  &.outside.app-open {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}
