@import '../helpers/_variables';
@import '../helpers/_mixins';

.footer-container {
  position: relative;
  height: 4em;
  width: 100%;
  background-color: $black;

  .version {
    @include super-center($left: 3em, $x: 0%);
    margin: 0;
    text-transform: lowercase;
    font-weight: 100;
    top: 50%;
    color: rgba($white, 0.5);
    font-size: 1em;
  }
}
