@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* HOME MENU *******/

.menu-container {
    @extend %full-position;
    margin: 0 auto 1px;
    max-width: 75em;
}


/******* MENU ITEMS *******/

.menu-item-container {
    $menu-ease: cubic-bezier(0.700, 0.000, 0.000, 0.700);

    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 25%;
    height: 12em;
    will-change: transform;
    transition: $app-speed $easeInOut;
    transition-delay: 400ms;

    .menu-item-link {
      @extend %full-position;
      position: relative;
      display: block;
      z-index: 1;
    }

    .menu-circle {
      @include super-center();
      margin: 0;
      max-width: $app-width;
      max-height: $app-height;
      width: $circle-size;
      height: $circle-size;
      border-radius: $circle-size;
      background-color: $white;
      @include box-shadow(1);
      // will-change: width, height, opacity, border-radius;
      animation: circle-close $app-speed $easeInOut;
    }

    svg:not(.menu-text) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45% !important;
        height: 45% !important;
        color: $black !important;
        opacity: 1 !important;
        transform: translate(-50%, -50%) scale(1);
        animation: icon-show $app-speed $easeInOut;
    }

    .menu-text {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        transform: translate(-50%,-50%) rotate(75deg);
        transition: all $app-speed;
        transition-delay: 450ms;
        z-index: -1;
    }
}

/******* MENU ITEMS TRANSFORM-GRID LAYOUT *******/

.menu-item-container {
  &:nth-child(1) { transform: translate( -200% ,  -100% ); }
  &:nth-child(2) { transform: translate( -100% ,  -100% ); }
  &:nth-child(3) { transform: translate( 0%    ,  -100% ); }
  &:nth-child(4) { transform: translate( 100%  ,  -100% ); }
}

@media only screen and (max-width: 767px) {
  .menu-item-container {
    &:nth-child(1) { transform: translate( -100% , -100% ); }
    &:nth-child(2) { transform: translate( 0%    , -100% ); }
    &:nth-child(3) { transform: translate( -100% , -0%   ); }
    &:nth-child(4) { transform: translate( 0%    , 0%    ); }
  }
}


/******* OPEN MODE *******/

.menu-item-container.active {
  transform: translate(-50%,-50%);
  transition: 0.5s $easeInOut;
  z-index: 2;

  .menu-circle {
    z-index: 12;
    animation: circle-expand $app-speed $easeInOut;
    animation-delay: $app-delay + 275ms;
    animation-fill-mode: forwards;
  }

  svg:not(.menu-text) {
    animation: icon-hide 500ms $easeInOut;
    animation-delay: 10ms;
    animation-fill-mode: forwards;
  }

  .menu-text {
    opacity: 0;
    transform: translate(-50%,-50%) rotate(215deg);
    transition: opacity 300ms, transform $app-speed;
  }
}


/******* ICON ADJUSTMENT *******/

.cbt,
.brw {
  .menu-cricle svg:not(.menu-text) { left: 49.1%; }
}

.moi {
  .menu-cricle svg:not(.menu-text) { left: 50.05%; }
}


/******* ANIMATIONS *******/

@keyframes circle-expand {
  0% {
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size;
    opacity: 1;
  }
  100% {
    width: $app-width;
    height: $app-height;
    border-radius: 0;
    opacity: 1;
  }
}

@keyframes circle-close {
  0% {
    width: $app-width;
    height: $app-height;
    border-radius: 0;
    opacity: 1;
  }

  100% {
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size;
    opacity: 1;
  }
}

@keyframes content-show {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes content-hide {
  0% {
    opacity: 1 !important;
  }
  100% {
    opacity: 0 !important;
  }
}

@keyframes icon-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
}

@keyframes icon-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(90deg);
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 960px) {
  .menu-item-container {
    .menu-circle {
      width: $circle-size-small;
      height:: $circle-size-small;
    }
    .menu-text {
      top: 60%;
      left: 47%;
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu-item-container {
    width: 50%;

    .menu-circle {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
}
  // @keyframes circle-expand-mobile {
  //   0% {
  //     width: $circle-size-small;
  //     height: $circle-size-small;
  //     border-radius: $circle-size;
  //     opacity: 1;
  //   }
  //   100% {
  //     width: 100vw;
  //     height: 100vh;
  //     border-radius: 0;
  //     opacity: 1;
  //   }
  // }
  //
  // @keyframes circle-close-mobile {
  //   0% {
  //     width: 100vw;
  //     height: 100vh;
  //     border-radius: 0;
  //     opacity: 1;
  //   }
  //
  //   100% {
  //     width: $circle-size-small;
  //     height: $circle-size-small;
  //     border-radius: $circle-size;
  //     opacity: 1;
  //   }
  // }


  // .menu-item-container.active {
  //   .menu-circle {
  //     animation: circle-open-mobile $app-speed $easeInOut;
  //     animation-delay: $app-delay + 275ms;
  //     animation-fill-mode: forwards;
  //   }
  // }
