@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* HOME MENU *******/

.menu-container {
    $height: $title-container-height * 2;
    @include super-center();
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}


/******* MENU ITEMS *******/

.menu-item-container {
    $menu-ease: cubic-bezier(0.700, 0.000, 0.000, 0.700);

    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    width: 50%;
    height: 12em;
    will-change: transform;
    transition: $app-speed;
    transition-delay: 100ms;
    z-index: 1;

    .menu-item-link {
      @extend %full-position;
      position: relative;
      display: block;
      z-index: 1;
    }

    .menu-circle {
      @include super-center();
      @include box-shadow(1);
      margin: 0;
      max-width: 100vw;
      max-height: 100vh;
      width: $circle-size-small;
      height: $circle-size-small;
      border-radius: $circle-size;
      background-color: $white;
      will-change: width, height, opacity, border-radius;
      animation: circle-close $app-speed;
    }

    svg:not(.menu-text) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45% !important;
        height: 45% !important;
        color: $black !important;
        opacity: 1 !important;
        transform: translate(-50%, -50%) scale(1);
        animation: icon-show $app-speed $easeInOut;
    }

    .menu-text {
        position: absolute;
        transform-origin: 63% 69%;
        top: 38%;
        left: 41%;
        font-size: 0.8em;
        font-weight: 100;
        text-transform: uppercase;
        transform: translate(-50%,-50%) rotate(75deg);
        transition: all $app-speed;
        transition-delay: 240ms;
        z-index: -1;

        &:after {
          content: 'x';
          width: 4em;
          height: 4em;
          background-color: red;
          font-size: 5em;
          position: absolute;
          display: block;
          color: blue;
          top: 50%;
          left: 50%;
        }
    }
}


/******* MENU ITEMS TRANSFORM-GRID LAYOUT *******/

.menu-item-container {
  &:nth-child(1) { transform: translate( $column-1 , $row-1 ); }
  &:nth-child(2) { transform: translate( $column-2 , $row-1 ); }
  &:nth-child(3) { transform: translate( $column-1 , $row-2 ); }
  &:nth-child(4) { transform: translate( $column-2 , $row-2 ); }
}

@media only screen and (min-width: 767px) {
  .menu-item-container {
    &:nth-child(1) { transform: translate( $column-1 , $row-1 ); }
    &:nth-child(2) { transform: translate( $column-2 , $row-1 ); }
    &:nth-child(3) { transform: translate( $column-3 , $row-1 ); }
    &:nth-child(4) { transform: translate( $column-4 , $row-1 ); }
  }
}


/******* OPEN MODE *******/

.menu-item-container.active {
  z-index: 25;

  .menu-circle {
    z-index: 24;
    animation: circle-expand $app-speed;
    animation-fill-mode: forwards;
  }

  svg:not(.menu-text) {
    animation: icon-hide 50ms $easeInOut;
    animation-fill-mode: forwards;
  }

  .menu-text {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(215deg);
    transition: opacity 200ms, transform $app-speed;
  }
}


/******* ICON ADJUSTMENT *******/

.cbt,
.brw {
  .menu-cricle svg:not(.menu-text) { left: 49.1%; }
}

.moi {
  .menu-cricle svg:not(.menu-text) { left: 50.05%; }
}


/******* ANIMATIONS *******/

@keyframes circle-expand {
  0% {
    @include box-shadow(1);
    transform: translate(-50%,-50%) scale(1);
  }
  1% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
    transform: translate(-50%,-50%) scale(16);
  }
}

@keyframes circle-close {
  0% {
    box-shadow: none;
    transform: translate(-50%,-50%) scale(16);
  }
  99%{
    box-shadow: none;
  }
  100% {
    @include box-shadow(1);
    transform: translate(-50%,-50%) scale(1);
  }
}

@keyframes content-show {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes content-hide {
  0% {
    opacity: 1 !important;
  }
  100% {
    opacity: 0 !important;
  }
}

@keyframes icon-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  85% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes icon-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (min-width: 960px) {
  .menu-circle {
    width: $circle-size;
    height: $circle-size;
  }
  .menu-text {
    top: 50%;
    left: 50%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 767px) {
  .menu-container {
    width: $app-width;
    height: $app-height;
  }
  .menu-item-container {
    width: 25%;
  }
}
