@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* HOME MENU *******/

.menu-container {
  position: relative;
  height: $menu-height;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  @media (max-width: 380px) {
    $height: $menu-height;
    height: $height;
  }
}


/******* MENU ITEMS *******/

.menu-item-container {
  $menu-ease: cubic-bezier(0.700, 0.000, 0.000, 0.700);
  position: absolute;
  top: 0%;
  left: -1%;
  display: inline-block;
  width: 50%;
  height: 12em;
  will-change: transform;
  transition: $app-speed;
  transition-delay: 100ms;
  z-index: 1;

  .menu-item-link {
    @extend %full-position;
    position: relative;
    display: block;
    z-index: 1;
  }

  .menu-circle {
    @include super-center();
    @include box-shadow(1);
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    width: $circle-size-small;
    height: $circle-size-small;
    border-radius: $circle-size;
    background-color: rgba($white, 1);
    will-change: transform;
    transform: translate(-50%,-50%) scale(1);
    transition: transform $app-speed $easeInOut;
    > p {
      transform: translateX(-9999px)
    }
  }

  svg:not(.menu-text) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45% !important;
      height: 45% !important;
      color: $black !important;
      opacity: 1 !important;
      transform: translate(-50%, -50%) scale(1);
      animation: icon-show $app-speed $easeInOut;
  }

  .menu-text {
      position: absolute;
      transform-origin: 63% 69%;
      top: 25%;
      left: 46%;
      font-size: 0.8em;
      font-weight: 100;
      text-transform: uppercase;
      will-change: transform, opacity;
      -webkit-transform: translate(-50%,-50%) rotate(75deg);
      transform: translate(-50%,-50%) rotate(75deg);
      animation: svg-text-show $app-speed linear;
      animation-fill-mode: forwards;
      z-index: -1;

      &:after {
        content: 'x';
        width: 4em;
        height: 4em;
        background-color: red;
        font-size: 5em;
        position: absolute;
        display: block;
        color: blue;
        top: 50%;
        left: 50%;
      }
  }
}


/******* MENU ITEMS TRANSFORM-GRID LAYOUT *******/

.menu-item-container {
  &:nth-child(1) { transform: translate( $column-1 , $row-1 ); }
  &:nth-child(2) { transform: translate( $column-2 , $row-1 ); }
  &:nth-child(3) { transform: translate( $column-1 , $row-2 ); }
  &:nth-child(4) { transform: translate( $column-2 , $row-2 ); }

  /*testing*/
  &:nth-child(5) { transform: translate( $column-1 , $row-3 ); }
  &:nth-child(6) { transform: translate( $column-2 , $row-3 ); }
}

@media only screen and (min-width: 767px) {
  .menu-item-container {
    $offset: 4em;

    &:nth-child(1) { transform: translate( $column-1 , $row-1 + $offset ); }
    &:nth-child(2) { transform: translate( $column-2 , $row-1 + $offset ); }
    &:nth-child(3) { transform: translate( $column-3 , $row-1 + $offset ); }
    &:nth-child(4) { transform: translate( $column-4 , $row-1 + $offset ); }

    /*testing*/
    &:nth-child(5) { transform: translate( $column-1 , $row-2 + $offset ); }
    &:nth-child(6) { transform: translate( $column-2 , $row-2 + $offset ); }
  }
}


/******* MODIFIERS *******/

.app-open .menu-container {
  z-index: 31;
}
.menu-item-container.active-true {
  z-index: 32;

  .menu-circle {
    box-shadow: none;
    will-change: transform;
    transform: scale(16);
    transition: transform $app-speed $easeIn;
  }

  svg:not(.menu-text) {
    animation: icon-hide 50ms $easeIn;
    animation-fill-mode: forwards;
  }

  .menu-text {
    animation: svg-text-hide $app-speed linear;
    animation-fill-mode: forwards;
  }
}

.menu-item-container.active-false {
  animation: close-z $app-speed;
  animation-fill-mode: forwards;
}


/******* ICON ADJUSTMENT *******/

.cbt,
.brw {
  .menu-cricle svg:not(.menu-text) { left: 49.1%; }
}

.moi {
  .menu-cricle svg:not(.menu-text) { left: 50.05%; }
}


/******* ANIMATIONS *******/

@keyframes svg-text-hide {
  0% {
    opacity: 1;
    transform: translate(-50%,-50%) rotate(75deg);
  }
  33% {
    opacity: 0.1;
    transform: translate(-25%, -33%) rotate(145deg);
  }
  100% {
    opacity: 0;
    transform: translate(-46%, -14%) rotate(215deg);
  }
}

@keyframes svg-text-show {
  0% {
    opacity: 0;
    transform: translate(-46%, -14%) rotate(215deg);
  }
  10% {
    opacity: 0.1;
    transform: translate(-25%, -33%) rotate(145deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-50%) rotate(75deg);
  }
}

@keyframes content-show {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

@keyframes content-hide {
  0% {
    opacity: 1 !important;
  }
  100% {
    opacity: 0 !important;
  }
}

@keyframes icon-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  85% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes icon-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes close-z {
  0% { z-index: 31; }
  99% { z-index: 31; }
  100% { z-index: 1; }
}


/******* MEDIA QUERIES *******/

@media only screen and (min-width: 960px) {
  .menu-circle {
    width: $circle-size;
    height: $circle-size;
  }
  .menu-text {
    top: 50%;
    left: 50%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 767px) {
  .menu-container {
    width: $app-width;
    height: $app-height;
    transform: translate(0,6%);
  }
  .menu-item-container {
    width: 25%;
  }
}
