@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* HOME MENU *******/

.menu-container {
    @extend %full-position;
    margin: 0 auto 1px;
}


/******* MENU ITEMS *******/

.menu-item-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 25%;
    height: 12em;
    transition: all $app-speed $easeOut;

    .menu-circle {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $circle-size;
      height: $circle-size;
      border-radius: $circle-size;
      background-color: $white;
      @include box-shadow(1);
      animation: circle-close $app-speed $easeOut;
    }

    svg:not(.menu-text) {
        position: absolute;
        top: 38%;
        left: 15%;
        width: 45% !important;
        height: 45% !important;
        color: $black !important;
        opacity: 1;
        transition: all $app-speed !important;
        transition-delay: 300ms;
    }

    .menu-text {
        position: absolute;
        top: -44%;
        left: -4.5em;
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        transform: rotate(75deg);
        transition: all $app-speed;
    }
}


/******* MENU ITEMS GRID LAYOUT *******/

.menu-item-container {
  &:nth-child(1) { transform: translate(-200%, -100%); }
  &:nth-child(2) { transform: translate(-100%, -100%); }
  &:nth-child(3) { transform: translate(0%, -100%); }
  &:nth-child(4) { transform: translate(100%, -100%); }
}


/******* OPEN MODE *******/

.menu-item-container.active {
  transform: translate(-50%,-50%);
  transition: all $app-speed;
  z-index: 2;

  .menu-circle {
    z-index: 12;
    animation: circle-expand $app-speed + 0.6s $easeInOut;
    animation-delay: $app-delay;
    animation-fill-mode: forwards;
  }

  svg:not(.menu-text) {
    opacity: 0;
    transition: opacity 300ms !important;
  }

  .menu-text {
    opacity: 0;
    transform: rotate(215deg);
    transition: opacity 300ms, transform $app-speed;
  }
}


/******* ANIMATIONS *******/

@keyframes circle-expand {
  0% {
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size;
    opacity: 1;
  }
  70% {
    width: $app-width;
    height: $app-height;
    border-radius: 0;
    opacity: 1;
  }
  100% {
    width: $app-width;
    height: $app-height;
    border-radius: 0;
    opacity: 0;
  }
}

@keyframes circle-close {
  0% {
    width: $app-width;
    height: $app-height;
    border-radius: 0;
  }
  100% {
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size;
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 960px) {
  .menu-item-container {
    .menu-circle {
      $size: $circle-size - 3em;
      width: $size;
      height:: $size;
    }
    .menu-text {
      top: -73%;
      left: -7.5em;
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu-item-container {
    width: 50%;
  }
}
