@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* HOME MENU *******/

.menu-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 5em auto;
}

.menu-row {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 5em);
  max-width: 70em;
  height: 12em;

  &:after {
      content: "";
      display: table;
      clear: both;
  }
}


/******* MENU ITEMS *******/

.menu-item-container {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    float: left;

    .menu-circle {
        @include super-center();
        width: $circle-size;
        height: $circle-size;
        border-radius: 20em;
        background-color: $black;
    }

    svg:not(.menu-text) {
        position: absolute;
        top: 38%;
        left: 15%;
        width: 45% !important;
        height: 45% !important;
        color: $white !important;
    }

    .menu-text {
        position: absolute;
        top: -44%;
        left: -4.5em;
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        transform: rotate(75deg);
    }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 960px) {
  .menu-item-container .menu-circle {
    $size: $circle-size - 3em;
    width: $size;
    height:: $size;
  }
}

@media only screen and (max-width: 767px) {
  .menu-item-container {
    width: 50%;
  }
}
