@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';

/******* HOME MENU *******/

.menu-item {
  position: relative;
}

.menu-circle {
  position: relative;
  width: 15em;
  height: 15em;
  margin: 5em auto;
  border-radius: 20em;
  overflow: hidden;
  background-color: $black;

  svg {
    position: absolute;
    top: 4%;
    left: 9%;
    width: 9em !important;
    height: 15em !important;
    color: $white !important;
  }

  h6 {
    font-size: 4em;
    color: $black;

  }
}
