@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* CONTAINERS *******/

.block-div {
  @extend %full-position;
  color: $black;
}

.block-container {
  background-color: transparent;
  height: 100%;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
}


/******* BLOCK: DEFAULT *******/

.block {
  position: relative;
  width: 100%;
  float: left;
  display: inline-block;
  width: calc(50% - 1.5em);
  height: calc(66.66% - 2em);
  background-color: $block-color;

  .block-name {
    @include super-center($top: 15%, $left: 15%);
    @extend %unselectable;
    font-size: $tiny;
    text-transform: uppercase;
    padding-bottom: 0.3em;
    color: rgba($white, 0.42);
  }

  .block-value {
    @include super-center();
    @extend %unselectable;
    font-size: $very-large;
    color: $white;
    transition: 0.3s $easeOut;
  }

  .block-unit {
    @extend %unselectable;
    font-size: 0.4em;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:nth-child(1) { margin: 1em 0.5em 1em 1em; }
  &:nth-child(2) { margin: 1em 1em 1em 0.5em; }

  &.selected {
    background-color: $block-selected-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow $fast $easeOut;

    .brew-value {
      @extend %unselectable;
      font-size: $extra-large;
      transition: $fast $easeOut;
    }
  }
}


/*******//**//** MODIFIERS **//**//*******/

/******* BLOCK: BIG-TOP *******/

.big-top .block-container {
  background-color: $white;
}


/*******BLOCK: STACKED*******/

.section.stacked .block {
  display: block;
  height: calc(50% - 2em);
  width: calc(100% - 2em);

  .block-name {
    @include super-center(25%, 5%, 0%);
    color: $block-text-color;
    font-size: 1.1rem;
  }
  .block-value {
    @include super-center($left: 70%);
  }
  &:first-child {
    margin: 1em 1em 0.5em 1em;
  }
  &:nth-child(2) {
    margin: 0.5em 1em 1em 1em;
  }
}

.section.stacked .block-result-div {
  @extend %full-position;
}

.section.stacked .block-result {
  @include super-center($top: calc(50% - 0.5em));
  font-size: 2.33rem;
  width: 10em;
  text-align: center;
}


/******* RESULT SECTION *******/

.block:nth-child(3) {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 33.33%;

  .block-result {
    @include super-center();
    font-size: $medium;
    color: $result-text-color;
  }
}


/******* ANIMATIONS *******/

@keyframes block-open {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 767px) {
  .block {
    .block-value {
      top: 75%;
      left: 25%;
      font-size: 4em;
    }
    .block-name {
      left: 25%;
    }
    button {
      left: 85% !important;
    }
  }
}
