@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';

.number-container {
  @extend %full-position;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.number-btn {
  position: relative;
  width: 33.33%;
  height: 25%;
  float: left;
  border-color: $lightgrey;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $offwhite;
  }
  &:nth-child(3n+2) {
    border-width: 1px 0 0 0;
  }
}

.number-btn-num {
  @include super-center;
  @extend %unselectable;
  font-family: $font;
  font-size: 1.3em;
  color: $black;
}
