@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';

.number-container {
  @extend %full-position;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.number-btn {
  position: relative;
  width: 33.33%;
  height: 25%;
  float: left;
  background-color: $keypad-color;
  border-color: $keypad-border-color;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  &:hover {
    cursor: pointer;
  }
  &.clicked {
    animation: touchBtn 250ms linear;
    animation-fill-mode: forwards;
  }
  &:nth-child(3n+2) {
    border-width: 1px 0 0 0;
  }
}

.number-btn-num {
  @include super-center;
  @extend %unselectable;
  font-family: $font;
  font-size: 1.3em;
  color: $keypad-text-color;
  pointer-events: none;
}

@keyframes touchBtn {
  0% { background-color: $white; }
  10% { background-color: $keypad-hover-color; }
  100% { background-color: $white; }
}
