@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* TITLE *******/

.title-container {
  // some styles set on server render
  height: $title-container-height;
  transition: background-color $app-speed-slow $easeOut;
}

.title {
  @include super-center($left: inherit, $x: 0%);
  @extend %unselectable;
  right: 1em;
  margin: 0;
  text-transform: lowercase;
  font-weight: 100;

  span {
    font-weight: 100;
    color: $black;
  }
}

.title {
  top: 50%;
  font-size: $title;
  color: $black;
}

.version {
  top: 75%;
  right: 2em;
  font-weight: 100;
  color: rgba($white, 0.5);
  font-size: 1em;
}


/******* MEDIA QUERIES *******/

@media only screen and (min-width: 500px) {
  .title {
    $font: $title + 1em;
    font-size: $font;
  }
}
