@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../helpers/_placeholders';


/******* TITLE *******/

.title-container {
  position: relative;
  height: 8.5%;
  width: 100%;
  background-color: $black;
}

.title {
  @include super-center($left: inherit, $x: 0%);
  @extend %unselectable;
  right: 7%;
  margin: 0;
  text-transform: uppercase;
  font-size: $title;
  color: $white;

  span {
    font-weight: 100;
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 767px) {
  .title-container {
    height: 5em;
  }
  .title {
    $font: $title - 4em;

    @include super-center($left: 70%);
    right: inherit;
    font-size: $font;
  }
}

@media only screen and (max-width: 500px) {
  .title-container {
    height: 4em;
  }
  .title {
    $font: $title - 5em;

    font-size: $font;
  }
}
