@import '../../../style/helpers/_variables';

.slider-container {
  $top: 2rem;
  $offset: 10%;
  position: relative;
  height: 12rem;
  > .name,
  > .value {
    position: absolute;
    top: $top;
    font-size: $medium-small;
  }
  > .name {
    left: $offset;
  }
  > .value {
    right: $offset;
    font-weight: bold;
  }
  > .slider-div {
    top: 80%;
  }
}
