@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';

/*******BLOCK INPUT*******/

.rdev-block,
.rdev-block.selected {
  @include box-shadow(1);

&:nth-child(1) {
  background-color: $block-color;
}
&:nth-child(2) {
  background-color: $block-selected-color;
}
  .time-picker {
    $text: $white;
    height: 1.3em !important;
    color: $text !important;
    font-size: 3rem !important;

    > div:first-child {
        font-size: 1.5rem !important;
        bottom: 25% !important;
        color: rgba($text, 0.5) !important;
    }

    > input[type="text"] {
        color: $text !important;

    }

    hr {
        border-bottom: 1px solid $text !important;
    }
  }
}
