@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
@import '../../../style/helpers/_placeholders';


.brew-block {
  position: relative;
  width: 100%;
  height: 33.33%;
}

.brew-block:not(.result) {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.brew-block.result {
  background-color: $offwhite;
}

.brew-block.second {
  border-top: 1px solid $lightgrey;
}

.brew-calc-body {
  @include super-center();
  color: $black;
}
