@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
@import '../../../style/helpers/_placeholders';

.brew-block-container {
  height: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.brew-block {
  position: relative;
  width: 100%;
  height: 33.33%;
  float: left;
}

.brew-block:not(:nth-child(3)) {
  display: inline-block;
  width: 50%;
  height: 66.66%;
  background-color: material-color('teal', '500');

  * {
    color: $white;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.brew-block:first-child {
  border-right: 1px solid rgba($black, 0.15);
}

.brew-block:nth-child(3) {
  display: block;
  background-color: $offwhite;
  width: 100%;
  height: 33.33%;
}

.brew-calc-body {
  @include super-center();
  color: $black;
}
