@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
@import '../../../style/helpers/_placeholders';

.brew-block-container {
  height: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.brew-block-div {
  @extend %full-position;
  color: $black;
}

.brew-block {
  position: relative;
  width: 100%;
  float: left;
}


/*******Input Blocks*******/

.brew-block:not(:nth-child(3)) {
  display: inline-block;
  width: 50%;
  height: 66.66%;
  background-color: material-color('teal', '500');

  * {
    color: $white;
  }

  .brew-name {
    @include super-center($top: 10%, $y: 0);
    font-size: $small;
    color: rgba(material-color('teal', '800'), 0.75);
  }

  .brew-value {
    @include super-center();
    font-size: $extra-large;
  }

  .brew-unit {
    font-size: 0.4em;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.brew-block:first-child {
  border-right: 1px solid rgba($black, 0.15);
}

.brew-block.selected {
  border: 4px solid $black;
}


/*******Result Block*******/

.brew-block:nth-child(3) {
  display: block;
  background-color: $offwhite;
  width: 100%;
  height: 33.33%;

  .brew-result {
    @include super-center();
    font-size: $medium;
  }
}
