@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
@import '../../../style/helpers/_placeholders';


[class*="-calc-container"] {
  position: relative;
  width: 100%;
  height: 33.33%;
}

[class*="-calc-container"].result {
  background-color: $offwhite;
}

[class*="-calc-container"].second {
  border-top: 1px solid $lightgrey;
}

.brew-calc-body {
  @include super-center();
  color: $black;
}
