@import '../../../style/helpers/_variables';


/*******Input Blocks*******/

.brew-block:not(:nth-child(3)) {
  background-color: material-color('teal', '500');
}

.brew-block.selected {
    background-color: material-color('teal','400');
}
