@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
@import '../../../style/helpers/_placeholders';

.app-bar {
  background-color: material-color('teal', '900') !important;
}

.brew-section-top {
  background-color: $grey;
}
