@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin box-shadow ($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

@mixin super-center ($top: 50%, $left: 50%, $x: -50%, $y: -50%) {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  transform: translate($x,$y);
}

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    &:before {
      $size: calc(100% - 2px);
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background: unquote($gradient);
      pointer-events: none;
      transition: transform $slow $easeInOut;
    }
    &.true {
      &:before {
        transform: scale(0.95);
      }
    }
    &.false {
      &:before {
        transform: scale(0);
      }
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &:before {
        mix-blend-mode: multiply;
      }
    }
  }
}


/******* COMPONENTS *******/

@mixin stripe-shadow () {
  &:after {
    $size: 100%;
    @include super-center($top: calc(50% + 0.5em));
    @include stripes-1;
    content: '';
    display: block;
    width: calc(#{$size} - 2px);
    height: $size;
    border-radius: $border-radius;
    z-index: -1;
  }
}
