%ripple {
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: rgba(255,255,255,0.4);
}

%ripple-animate {
  -webkit-animation: ripple-animation 1.25s;
  animation: ripple-animation 1.25s;
  animation-timing-function: ease-out;
}

%full-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

%unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
