@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');

/*******Material Color*******/

@import 'node_modules/sass-material-colors/sass/sass-material-colors';


/*******Color*******/

/******* Greyscale *******/

$white:        #fff;
$black:        #000;

$_50:          #FAFAFA;
$_100:         #F5F5F5;
$_200:         #EEEEEE;
$_300:         #E0E0E0;
$_400:         #BDBDBD;
$_500:         #9E9E9E;
$_600:         #757575;
$_700:         #616161;
$_800:         #424242;
$_900:         #212121;

$matteblack:   $black;
$offwhite:     $_100;
$lightgrey:    $_300;
$grey:         $_400;


/*******Font*******/

$extra-large:  3.5em;
$very-large:   3em;
$large:        2em;
$medium:       1.5em;
$small:        1em;
$tiny:         0.8em;

$h1-size:      $extra-large;
$p-size:       $small;

$font:         'Roboto', sans-serif;


/*******Animation*******/

$easeOut   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeIn    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOut : cubic-bezier(1.000, 0.000, 0.000, 1.000);

$slow:      0.75s;
$fast:      0.3s;
$app-speed: 0.8s;
$app-delay: 150ms;


/******* Size *******/

$app-width:   52em;
$app-height:  46em;
$circle-size: 10em;
