@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/******* Greyscale *******/

$white:        #fff;
$black:        #000;

$_50:          #FAFAFA;
$_100:         #F5F5F5;
$_200:         #EEEEEE;
$_300:         #E0E0E0;
$_400:         #BDBDBD;
$_500:         #9E9E9E;
$_600:         #757575;
$_700:         #616161;
$_800:         #424242;
$_900:         #212121;

$matteblack:   $black;
$offwhite:     $_100;
$lightgrey:    $_300;
$grey:         $_400;


/*******Font*******/

$extra-large:  3.5em;
$very-large:   3em;
$large:        2em;
$medium:       1.5em;
$small:        1em;
$tiny:         0.8em;

$title:        $large;

$h1-size:      $extra-large;
$p-size:       $small;

$slabo:        'Slabo 27px', serif;
$roboto:       'Roboto Condensed', sans-serif;
$font:         $slabo;


/*******Animation*******/

$easeOut   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeIn    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOut : cubic-bezier(1.000, 0.000, 0.000, 1.000);

$slow:      0.75s;
$fast:      0.3s;
$app-speed: 0.4s;
$app-delay: 450ms;


/******* Size *******/

$ios-offset:                       44px;
$app-width:                        52em;
$app-height:                       46em;
$app-width-mobile:                 100vw;
$app-height-mobile:                calc(100vh - #{$ios-offset});
$circle-size:                      10em;
$circle-size-small:                $circle-size - 3em;
$title-container-height:           4em;


/******* HOME GRID *******/

$row-1:     6em;
$row-2:     19em;
$row-3:     32em;

$column-1:  0%;
$column-2:  100%;
$column-3:  200%;
$column-4:  300%;


/******* Components *******/

$primary:                 $white;
$secondary:               $black;

$app-bg:                  $primary;
$block-color:             $secondary;
$block-selected-color:    $_800;
$block-text-color:        $primary;
$result-text-color:       $secondary;

$keypad-color:            $primary;
$keypad-hover-color:      $_300;
$keypad-border-color:     $keypad-hover-color;
$keypad-text-color:       $secondary;

$action-btn-bg:           $primary;
$action-btn-text:         $secondary;

$footer-height:           $ios-offset;
