@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');

/*******Color*******/

$black: rgb(60,60,60);
$white: #fff;
$offwhite: rgb(245,245,245);

$brown500: #795548;


/*******Font*******/

$h1-size: 3em;
$p-size: 1em;
$font: 'Roboto', sans-serif;
