@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');

/*******Material Color*******/

@import 'node_modules/sass-material-colors/sass/sass-material-colors';


/*******Color*******/

$black: rgb(80,80,80);
$white: #fff;
$offwhite: rgb(245,245,245);
$lightgrey: rgb(225,225,225);
$grey: rgb(189,189,189);


/*******Font*******/

$extra-large: 3.5em;
$large: 2em;
$medium: 1.5em;
$small: 1em;

$h1-size: $extra-large;
$p-size: $small;

$font: 'Roboto', sans-serif;
