@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');

/*******Material Color*******/

@import 'node_modules/sass-material-colors/sass/sass-material-colors';


/*******Color*******/

$black:       rgb(80,80,80);
$white:       #fff;
$offwhite:    rgb(245,245,245);
$lightgrey:   rgb(225,225,225);
$grey:        rgb(189,189,189);
$matteblack:  rgb(0,0,0);


/*******Font*******/

$extra-large: 3.5em;
$very-large:  3em;
$large:       2em;
$medium:      1.5em;
$small:       1em;
$tiny:        0.8em;

$h1-size:     $extra-large;
$p-size:      $small;

$font:        'Roboto', sans-serif;


/*******Animation*******/

$easeOut   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeIn    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOut : cubic-bezier(1.000, 0.000, 0.000, 1.000);

$slow: 0.75s;
$fast: 0.3s;
