@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');

/*******Color*******/

$black: rgb(60,60,60);
$white: #fff;
$offwhite: rgb(245,245,245);
$lightgrey: rgb(225,225,225);
$grey: rgb(189,189,189);

$brown500: #795548;


/*******Font*******/

$extra-large: 3em;
$large: 2em;
$small: 1em;

$h1-size: $extra-large;
$p-size: $small;

$font: 'Roboto', sans-serif;
