@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

@import './helpers/_variables';
@import './helpers/_mixins';
@import './helpers/_placeholders';
@import './section-types';


/*******GLOBALS*******/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: $font;
}

body {
  background-color: rgb(245,245,245);
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245,245,245);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'><g fill-rule='evenodd'><g id='hexagons' fill='%23e8e8e8' fill-opacity='0.4' fill-rule='nonzero'><path d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/></g></g></svg>");
    // disables any animations on page load
    &.preload * {
      animation-duration: 0s !important;
      transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
    }
    &.app-open {
      overflow: hidden;
    }
    p,h1,h2,h3,h4,h5,h6,svg {
      opacity: 1;
    }
}

h1 {
    font-size: $h1-size;
    text-align: center;
}


/******* COMPONENTS *******/

/*tab selector bar*/
.tabs > div:nth-child(2) > div  {
  background-color: $_200 !important;
  @include stripes-1();
}


/******* SUB APP *******/

.app-container {
    position: relative;
    width: 100%;
}

.sub-app {
    $speed: $app-speed - 50ms;
    @include super-center();
    @include box-shadow(2);
    margin: 0 auto;
    height: $app-height;
    padding: 0;
    width: 100.5%;
    max-width: $app-width;
    opacity: 0;
    overflow: hidden;
    background-color: transparent;
    animation: appOpen $speed $easeOut;
    animation-delay: $speed;
    animation-fill-mode: forwards;
    z-index: 10;
    @media (min-width: 767px) {
      @include super-center(0, $y: 44px);
    }
}

.sub-app-outter {
  @extend %full-position;
  z-index: 5;
}

.home-container {
    $speed: $app-speed;
    @extend %full-position;
    position: relative;
    min-height: 100%;
    height: 100%;
    background-color: rgba($white, 0);
    transition: background-color $speed $easeOut;
    z-index: 1;
    @media (min-width: 767px) {
      min-height: 100vh;
    }
}

// darken effect on app open

.darken {
  @media (min-width: $tablet-width) {
    &.home-container,
    .menu-item-container:not(.active-true) > .menu-circle,
    .title-container,
    .footer-container,
    .content-box {
      will-change: background-color;
      background-color: rgba($black, 0.25);
      transition: background-color $app-speed-slow $easeOut,
                  border-color $app-speed-slow $easeOut;
    }

    .content-box > h5 {
      background-color: rgba($black, 0.35);
      transition: background-color $app-speed-slow $easeOut;
    }

    .footer-container {
      border-color: rgba($black, 0.35);
    }
  }
}


/******* ANIMATIONS *******/

@keyframes appOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/******* MEDIA QUERIES *******/

@media only screen and (max-width: 767px) {
  .sub-app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $app-height-mobile;
    width: $app-width-mobile;
    transform: translate(0,0);
    margin: 0;
  }
  .sub-app-outter {
    display: none;
    z-index: -1;
  }
}
