@import './helpers/_variables';
@import './helpers/_mixins';
@import './helpers/_placeholders';

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: $offwhite;
}

h1 {
    font-size: $h1-size;
    text-align: center;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.sub-app {
    @include super-center;
    @include box-shadow(2);
    margin: 0 auto;
    height: 46em;
    padding: 0;
    width: 100%;
    max-width: 52em;
    overflow: hidden;
    background-color: #fff;
    z-index: 10;
}

.sub-app-outter {
  @extend %full-position;
  z-index: 5;
}

.home-container {
    @extend %full-position;
    z-index: 1;
}

.home-blur {
  filter: blur(15px);
}


/*******Sections*******/

.section {
  position: relative;
}

.section-top {
  position: relative;
  top: 0;
  height: 20em;
}

.section-bottom {
    position: relative;
    top: 0;
    height: 23em;
}


/*******MEDIA QUERIES*******/

@media only screen and (max-width: 767px) {
  .sub-app {
    height: 100%;
  }
  .section {
    height: 50%;
  }
  .home-blur {
    filter: none;
  }
}
