@import './helpers/_variables';
@import './helpers/_mixins';
@import './helpers/_placeholders';

/******* SECTIONS *******/

.section {
  position: relative;
  top: 0;
}

.section-top {
  height: calc(50% - #{$app-bar-height} - #{$mobile-footer-offset});
  @media (min-width: 767px) {
    height: calc(50% - #{$app-bar-height});
  }
}

.section-bottom {
  height: calc(50% - #{$mobile-footer-offset});
  @media (min-width: 767px) {
    height: 50%;
  }
}


/******* WITH TABS *******/

.section-top.withtabs {
  height: calc(60% - #{$app-bar-height} - #{$mobile-footer-offset});
  @media (min-width: 767px) {
    height: calc(60% - #{$app-bar-height});
  }
}

.section-bottom.withtabs {
  height: calc(40% - #{$mobile-footer-offset});
  @media (min-width: 767px) {
    height: 40%;
  }
}


/******* WITH COLOR FADE *******/


.section-top.withcolorfade {
  height: calc(50% - #{$app-bar-height} + 3em - #{$mobile-footer-offset});
  top: -3em;
  @media (min-width: 767px) {
    height: calc(50% - #{$app-bar-height} + 3em);
  }
}

.section-bottom.withcolorfade {
  top: -3em;
}

.footer-container.inside.withcolorfade {
  top: -3em;
}


/******* BIG TOP *******/

.section-top.big-top {
  height: calc(60% - #{$app-bar-height} - #{$mobile-footer-offset});
  background-color: $white;
  @media (min-width: 767px) {
    height: calc(60% - #{$app-bar-height});
  }
}

.section-bottom.big-top {
  height: calc(40.1% - #{$mobile-footer-offset});
  background-color: $white;
  @media (min-width: 767px) {
    height: 40.1%;
  }
}
