@import './variables';

.tempo-view-div {
  font-family: $font;
  position: absolute;
  top: 48%;
  left: 7%;
  font-size: 1.2em;
  font-weight: 100;
  color: $white;
}

.tempo-number {
  font-size: 2.5em;
  font-weight: 400;
}
