@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';

.play-button-div {
  @include super-center($top: 100%, $left: auto, $x: 0);
  right: 10%;
  z-index: 20;

  svg {
    fill: $action-btn-text !important;
  }
}
