@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins.scss';
@import '../../../style/helpers/_placeholders.scss';

.ripple-container {
  position: absolute;
  top: 90%;
  right: 11%;
  width: 50px;
  height: 50px;
}

.ripple-1,
.ripple-2,
.ripple-3 {
  will-change: transform, opacity;
  @extend %ripple;
  @extend %ripple-animate;
}

.ripple-hide {
  opacity: 0;
}

@include keyframes(ripple-animation) {
    0% {
      transform: scale(0.5);
      opacity: 0.4;
    }
    100% {
      transform: scale(10);
      opacity: 0;
    }
}
