@import '../../../style/helpers/_variables';

#sweetspot {
  display: block;
  position: absolute;
  top: -7%;
  left: 22%;
  width: 9em;
  height: 3em;
  background-color: rgba(0, 188, 212, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.2s;
  z-index: -1;
}

.sweetspot-show {
  opacity: 1;
  animation: open-sweetspot 0.15s ease-in;
}

.sweetspot-hide {
  opacity: 0;
  animation: close-sweetspot 0.15s ease-in;
}

@keyframes open-sweetspot {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@keyframes close-sweetspot {
  from {transform: scale(1);}
  to {transform: scale(0);}
}


/*******MEDIA QUERIES*******/

@media only screen and (max-width: 450px) {
  #sweetspot {
    left: 25%;
    width: 21%;
  }
}

@media only screen and (max-width: 385px) {
  #sweetspot {
    left: 27%;
    width: 19%;
  }
}
