@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';

.tempo-slider-section {
  background-color: $offwhite;
}

.tempo-slider-div {
  @include super-center;
  width: 75%;
  height: 4em;
}

.tempo-slider {
  @include super-center;
  display: inline-block;
  width: calc(100% - 100px);
}

.tempo-slider > div > div:first-child {
  background-color: $grey !important;
}

.plus,
.minus {
  display: inline-block;
  position: absolute !important;
  top: -7%;
}

.plus {
  right: -5%;
}

.minus {
  left: -5%;
}

.plus .material-icon,
.minus .material-icon {
  font-size: 32px !important;
}
